<div class="container mt-2">
  <div class="row">
    <div class="col-sm-9 m-auto">
      <h3 class="mb-5 mt-5">

        <fa name="{{isEditing?'edit':'user-plus'}}"></fa>
        {{isEditing?"Edit":"New"}} Service

      </h3>

      <form class="form" #f="ngForm" novalidate (ngSubmit)="f.valid && save()">
        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa name="user"></fa>
              </span>
            </div>
            <input type="text" class="form-control" value="{{service.title}}" placeholder="Package" />
            <input type="text" class="form-control" id="fnm" name="fnm" required minlength="5" maxlength="15" [(ngModel)]="user.name"
              #fnm=ngModel placeholder="Name" />

          </div>
          <div class="alert alert-danger" *ngIf="(fnm.errors && (fnm.touched || fnm.darty))">
            <p *ngIf="(fnm.errors && (fnm.touched || fnm.darty))">Please see that Name
              <strong>
                <span *ngIf="fnm.errors.required">is not left blank</span>
                <span *ngIf="fnm.errors.minlength">is atleast 5 chars in length</span>
              </strong>
            </p>

          </div>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa name="mobile"></fa>
              </span>
            </div>
            <input type="text" class="form-control" id="mno" placeholder="Mobile number" name="mno" required pattern="\d{10}" [(ngModel)]="user.mobile" #mno=ngModel
            />
          </div>
          <div class="alert alert-danger" *ngIf="mno.errors && (mno.touched || mno.darty)">
            <p>Please see that Mobile Number
              <strong>
                <span *ngIf="mno.errors.required">is not left blank</span>
                <span *ngIf="mno.errors.pattern">is exactly 10 digits only</span>
              </strong>
            </p>
          </div>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa name="address"></fa>
              </span>
            </div>
            <input type="text" class="form-control" id="address" placeholder="Address" name="address" required [(ngModel)]="user.address" #address=ngModel
            />
          </div>
          <div class="alert alert-danger" *ngIf="address.errors && (address.touched || address.darty)">
            <p>Please see that address
              <strong>
                <span *ngIf="mail.errors.required">is not left blank</span>

              </strong>
            </p>
          </div>
        </div>

        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa name="calendar"></fa>
              </span>
            </div>
            <input type="time" class="form-control" id="time" name="time" required [(ngModel)]="user.time" #time=ngModel />
          </div>
          <div class="alert alert-danger" *ngIf="time.errors.required && (time.touched || time.dirty)">
            <p>Please see that time
              <strong>is not left blank</strong>
            </p>
          </div>
        </div>
        <button class="btn btn-block btn-primary">Apply</button>
        
    
    </form>
  </div>
</div>